<div class="app">
    <h3>新增图书</h3>
    <form id="createForm">
        <div><label class="control-label" for="books-name">书名</label>
            <input type="text" id="books-name" class="form-control" name="Books[name]" autofocus aria-required="true"></div>
        <div><label class="control-label" for="books-isbn">ISBN</label>
            <input type="text" id="books-isbn" class="form-control" name="Books[ISBN]" aria-required="true"></div>
        <div><label class="control-label" for="books-author">作者</label>
            <input type="text" id="books-author" class="form-control" name="Books[author]" aria-required="true"></div>
        <div><label class="control-label" for="books-press">出版社</label>
            <input type="text" id="books-press" class="form-control" name="Books[press]" aria-required="true"></div>
        <div><label class="control-label" for="books-publication_date">出版日期</label>
            <input type="text" id="books-publication_date" class="form-control" name="Books[publication_date]" aria-required="true"></div>
        <div><label class="control-label" for="books-introduction">简介</label>
            <textarea id="books-introduction" class="form-control" name="Books[introduction]" rows="2"></textarea></div>
        <div><label class="control-label" for="books-remarks">备注</label>
            <textarea id="books-remarks" class="form-control" name="Books[remarks]" rows="2"></textarea></div>
        <div><label class="control-label" for="books-price">价格</label>
            <input type="text" id="books-price" class="form-control" name="Books[price]"></div>
        <div><input type="submit" value="提交"></div>
    </form>
</div>